.portfolio {
    border-bottom: 1px solid var(--teal);
}

.portfolio-heading {
    width: 100%;
    text-align: center;
    margin: 2rem 0 2rem 0;
    font-family: var(--font-family);
    color: var(--text);
}


