html, body { 
    height: 100%;
    overflow:hidden 
}

body {
        background: black;
}

.svg-container {
    display: inline-block;
    position: relative;
    height: 0;
    width: 50%;
    padding: 0;
    padding-bottom: 50%;
    vertical-align: middle;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
}

.svg-ani {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes arrow-spin {
    50% {
        transform: rotateY(360deg);
    }
}