.about-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    gap: 1;
/* sets position relative to allow the animation to fall behind the other items */
    position: relative;
}

.about-bio {
    display: flex;
    flex-direction: column;
    gap: 2;
    padding: 1rem;
    max-width: 50%;
    /* increased z index allows the text and picture to sit over the background animation */
    z-index: 2;
}

.about-bio p {
    color: white;
    font-size: 24px;
    margin: 75px 0 0 20px;
}

.aboutTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}


.profileImg {
    max-width: 200px;
    max-height: 200px;
    border-radius: 100px;
    filter: grayscale(85%)
}
/* media screens for responsiveness */
@media screen and (max-width: 1050px) {
    .about-bio {
        flex-direction: column;
        
    }
    .about-bio p {
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {
    .about-bio {
        max-width: 75%;
    }
    .about-bio p {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .about-bio {
        max-width: 90%;
    }
}