
.contact-title {
    width: 100%;
    text-align: center;
    margin: 2rem 0 2rem 0;
    font-family: var(--font-family);
    color: var(--text);
}

.contact-content {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}