.form  {
    width: 100%;

}

.form-group {
    width: 100%;
    margin-bottom: 2rem;
}

.form-imput, form-textarea {
    width: 100%;
    font-size: 2rem;
    padding: 1.2rem;
    color: var(--gray);
    background-color: (--black);
    outline: none;
    border: none;
    border-radius: 8px;
    margin-top: 1rem;
}