@import url('https://fonts.googleapis.com/css?family=Oswald');

:root {
    --font-family: 'Oswald', sans-serif;
    --text: rgb(150, 138, 138);
    --black: #14110fff;
    --gray: #34312dff;
    --pink: #cb48b7ff;
    --teal: #488286ff;
    --blue: #a8dadcff;
    --BRgradient: linear-gradient(135deg, #14110fff, #34312dff, #488286ff, #cb48b7ff);
    --backgroundGradient: linear-gradient(135deg, #14110fff, #34312dff);
    --textGradient: linear-gradient(135deg, #cb48b7ff, #488286ff );
    --gradientRadial: radial-gradient(#14110fff, #34312dff, #cb48b7ff, #488286ff);
}