.header-container {
    background: var(--gradientRadial);
    font-size: 28px;
    line-height: 27px;
    margin-top: 1.5rem;
}

.nav-container {
    background: var(--gradientRadial);
    display: flex;
    font-size: 28px;
    line-height: 27px;
    margin-top: 1.5rem;
    position: fixed;
    top: 0;
}